body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que la altura sea al menos el 100% de la ventana */
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: block;
}
.input,.chart{
    display:block;
}
h1 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}

#progressBarContainer {
    width: auto;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

#progressBar {
    height: 20px;
    width: 0;
    background-color: #4caf50;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    transition: width 0.5s, background-color 0.5s;
}

#timeRemaining {
    margin-top: 10px;
    font-style: italic;
    color: #999;
}

#amountInput {
    padding: 5px;
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addButton {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

#addButton:hover {
    background-color: #45a049;
}


#amountInput {
    width: 60%; /* Reduce el ancho para dar espacio al texto */
    margin-right: 5px; /* Agrega margen derecho */
    vertical-align: middle;
}

#amountValue {
    display: inline-block;
    font-weight: bold;
    color: #333;
    vertical-align: middle;
}

.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  .axis {
    font-size: 12px;
  }
  